.checkboxWrapper {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
  & > .checkbox {
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    height: 1em; width: 1em !important;
    margin: auto 0;
  }
}

